/* General styles */
@font-face {
    font-family: 'HancomUljuBangudaePetroglyph';
    font-style: 'normal';
    src: url(fonts/HancomUljuBangudaePetroglyph.ttf);
}
*{
    box-sizing:border-box;
    margin:0px;
}
body {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.container {
    width:540px;
    height: 900px;
    border: 1px solid #AACDFF;
    box-shadow: 10px 10px 5px 1px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

/* 로고 */
.logo {
    position: absolute;
    left: 2.6%;
    top: 3.89%;
    font-family: 'HancomUljuBangudaePetroglyph';
    font-weight: 400;
    font-size: 58px;
    line-height: 67px;
    color: #3D79EE;
}

.logo-subtext {
    position: absolute;
    left: 8.49%;
    top: 7.96%;
    font-family: 'HancomUljuBangudaePetroglyph';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.error{
    color:red;
    height: 10px;
    font-size: 11px;
}

.inputbox{
    width: 380px;
    height: 60px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #D2D2D2;
    padding: 18px;
    margin-top: 20px;
}

.inputbox::placeholder{
    color:#797979;
    font-size: 16px;
}

.phone_wrapper {
    width:380px;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.phoneNum{
    width: 300px;
    height: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 7px;
    font-size: 16px;
    text-align: left;
}

.token_wrapper{
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.token, .token_timer{
    color:#0068FF;
    font-size:18px;
}

#token_button, #token_timer_confirm_button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    margin-left: 20px;
    border: 1px solid #D2D2D2;
    font-size: 16px;
}

#signup_button {
    width: 380px;
    height: 75px;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    font-size: 18px;
    margin-top:20px;
}
.a{
    margin-right: 320px;
    margin-top: 30px;
}
#token_button:hover {
    background-color: #e0e0e0; /* 버튼 hover 시 배경색 변경 */
}
#token_button, #token_timer_confirm_button, #signup_button {
    cursor: pointer; /* 포인터로 변경 */
}
#tomain {
    cursor: pointer;
}