:root {
  --lightbluebase: rgba(0, 133, 255, 1);
  --darkorangebase: rgba(255, 159, 45, 1);
  --lightgrayscale-200: rgba(88, 87, 87, 1);
  --lightredbase: rgba(233, 44, 44, 1);
  --lightbackgroundblue: rgba(255, 255, 255, 1);
  --lightbackgroundorange: rgba(255, 255, 255, 1);
  --lightgrayscale-400: rgba(232, 232, 232, 1);
  --lightbackgroundred: rgba(255, 255, 255, 1);
}
