html,body{ margin: 0; padding: 0; width: 100vw; height: 100vh;}

@font-face {
    font-family: 'HancomUljuBangudaePetroglyph';
    font-style: 'normal';
    src: url(fonts/HancomUljuBangudaePetroglyph.ttf);
}
.nav {
    background-color: #3C78ED;
    width: 100vw;
    height : 15vh;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
}
.title-container {
    display: flex;
    align-items: center;
    padding-left: 330px; 
    width: 33%; height: 50%;
    top: 50%; left: 15%; transform: translate(-50%, -50%); position: absolute;
}
.maintitle{
    position: absolute;
    font-family: 'HancomUljuBangudaePetroglyph';
    font-size: 40px;
    cursor: pointer;
    top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute;
}

.mainsmalltitle{
    position: absolute;
    font-family: 'HancomUljuBangudaePetroglyph';
    padding-top: 28px;
    padding-left: 75px;
    font-size: small;
    cursor: pointer;
    top: 50%; left: 62%; transform: translate(-50%, -50%); position: absolute;
}
.search-box {
    height: 25%;
    width: 30%;
    top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 40px;
    padding: 10px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    color: #797979;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding-left: 2%;
}
.search-btn{
    color: #3C78ED;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-icons {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    top: 50%; left: 85%; transform: translate(-50%, -50%); position: absolute;
}
.nav-login  {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    left: 5%;
}
.nav-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    left: 16%;
    position: absolute;
}
.nav-mytrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    left: 34%;
    position: absolute;
}
.nav-text{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    top: 99%; left: 44%; transform: translate(-50%, -50%); position: absolute;
}
.login-text{
    text-align:center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    left: 10%; top: 99%; transform: translate(-50%, -50%); position: absolute;
}
.map-text{
    text-align:center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    left: 26.5%; top: 99%; transform: translate(-50%, -50%); position: absolute;
}
.mytrip-text {
    text-align:center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    left: 43%; top: 99%; transform: translate(-50%, -50%); position: absolute;
}
.menu{
    width: 100vw; height: 10vh; margin: 0;
    text-align:center;
    align-items: center;
    font-size:10px;
    font-weight:bold;
    top: 23vh; left: 50vw; transform: translate(-50%, -50%); position: absolute;
}
hr {
    background :#3F78EB;
    height:1px;
    border:0;
    margin-top:30px;
}
.categoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 50px;
    box-sizing: border-box;
}

.categoryDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    gap: 10px;
}

.categoryItem {
    display: flex;
    align-items: center; 
    gap: 5px; 
    cursor: pointer;
}

.icon {
    width: 20px; 
    height: 20px; 
}

.category {
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    top: 1vh;
    margin-left: 5%;    
}

.iconCantainer{
    height: 20px; top: 25px; position: absolute;
}

.slide-content {
    text-align: center;
}
.main-title{
    margin-top: 35px;
    margin-left: 350px;
    font-weight: bold;
    font-size: 30px;
}
.slide{
    width: 100%;
    height: 350px;
}
.content-title {
    margin-top: 10px;
    font-weight: bold; 
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-info {
    margin-top: 5px; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.swiper-container{
    
    width: 1400px;
    height: 500px;
    overflow: hidden;
    margin-left: 270px;
    
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/4);
    height: 100%;
    cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.festival-contentbox{
    width: 300px; 
    height: 500px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border-radius: 20px;
}
.festival-contentregion{
    width: 126px; 
    left: 24px; 
    top: 369px; 
    position: absolute; 
    font-size: 16px; 
    font-family: Karantina; 
    font-weight: 400; 
    word-wrap: break-word;
}
.festival-image{
    width: 300px; 
    height: 350px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 20px; 
    border: 1px black solid;
}
.festival-date{
    width: 255px;
    left: 24px;
    top: 415px;
    position: absolute;
    font-size: 16px;
    font-family: Karantina;
    font-weight: 400;
    word-wrap: break-word;
}
.festival-title{
    width: 255px;
    left: 24px; 
    top: 461px; 
    position: absolute; 
    font-size: 16px; 
    font-family: Karantina; 
    font-weight: 400;
    word-wrap: break-word;
}
.festival-charge{
    width: 78px; 
    left: 201px; 
    top: 369px; 
    position: absolute; 
    font-size: 16px; 
    font-family: Karantina; 
    font-weight: 400; 
    word-wrap: break-word;
}
.festival-filterbox{
    width: 570px; 
    height: 160px; 
    left: 675px; 
    top: 320px; 
    position: absolute;
}
.festival-filterbox-regionbox{
    width: 80px; 
    height: 45.71px; 
    left: 32px; 
    top: 14.86px; 
    position: absolute;
}
.festival-filterbox-regionboxstyle{
    width: 80px; 
    height: 45.71px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border: 1px black solid;
}
.festival-filterbox-region{
    width: 27px;  
    left: 8px; 
    top: 14.86px; 
    position: absolute; 
    font-size: 13px; 
    font-family: Karantina; 
    font-weight: 400; 
    word-wrap: break-word;
}
.festival-filterbox-chevrondown1{
    width: 10px; 
    height: 10px; 
    left: 61px; 
    top: 12px; 
    position: absolute;
}
.festival-filterbox-festivalnamebox{
    width: 80px; 
    height: 45.71px; 
    left: 139px; 
    top: 14.86px; 
    position: absolute;
}
.festival-filterbox-festivalnameboxstyle{
    width: 80px; 
    height: 45.71px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border: 1px black solid;
}
.festival-filterbox-festivalname{
    width: 48px; 
    height: 17.14px; 
    left: 8px; 
    top: 14.86px; 
    position: absolute; 
    font-size: 11px; 
    font-family: Karantina; 
    font-weight: 400; 
    word-wrap: break-word;
}
.festival-search-box{
    width: 380px; 
    height: 45.71px; 
    left: 32px; 
    top: 88px; 
    position: absolute; 
    background: white; 
    border: 1px black solid;
}
.festival-search-btnbox{
    width: 23px; 
    height: 14.29px; 
    left: 29px; 
    top: 5.71px; 
    position: absolute; 
    color: black; 
    font-size: 12px; 
    font-family: Karantina; 
    font-weight: 400; 
    word-wrap: break-word;
}
.Filter{
    width: 40px; 
    height: 26px; 
    left: 166px; 
    top: 149px; 
    position: absolute; 
    color: black; font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.Topframe{
    width: 100%; height: 13%; left: 0px; top: 20px; position: absolute; background: #3F78EB;
}
.Entire{
    margin: 0; padding: 0; width: 100vw; height: 100vh; position: relative;
}
/* 지도 페이지 stylesheet */
.leftDiv{
    width: 351px; height: 113.63px; left: 261px; top: 33.18px; position: absolute;
}
#gilbut{
    width: 105px; height: 87.44px; left: 26px; top: 27.45px; position: absolute; color: rgba(255, 255, 255, 0.86); font-size: 50px; font-family: Hancom Ulju Bangudae Petroglyph; font-weight: 400; word-wrap: break-word;
}
#descript{
    width: 230px; height: 14.08px; left: 139px; top: 71.40px; position: absolute; color: black; font-size: 12px; font-family: Hancom Ulju Bangudae Petroglyph; font-weight: 400; word-wrap: break-word;
}
.SearchBar{
    width: 670px; height: 70.39px; left: 650px; top: 50px; position: absolute; background: white; border-radius: 60px; border: 2px #3D79EE solid;
}
#Search{
    width: 29px; height: 29.16px; left: 610px; top: 21.12px; position: absolute; text-align: center; color: #3D79EE; font-size: 24px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.rightDiv{
    width: 312px; height: 155.56px; left: 1342px; top: 0px; position: absolute;
}
.loginContainer{
    width: 122px; height: 133.20px; left: 10px; top: 11.18px; position: absolute;
}
.loginDiv{
    width: 122px; height: 133.20px; left: 0px; top: 0px; position: relative; text-align: center; color: black; font-size: 30px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.iconSort{
    position: absolute; top:50%; left:50%; transform:translate(-50%, -50%); 
}
#login{
    width: 55px; height: 21.35px; left: 35px; top: 93.54px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.trafficContainer{
    width: 117px; height: 107.78px; left: 87px; top: 23.39px; position: absolute
}
.trafficDiv{
    width: 117px; height: 107.78px; left: 0px; top: 0px; position: relative; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
#traffic{
    width: 72px; height: 21.35px; left: 25px; top: 81.34px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.calendarContainer{
    width: 159px; height: 155.56px; left: 153px; top: 0px; position: absolute;
}
.calendarDiv{
    width: 159px; height: 155.56px; left: 0px; top: 0px; position: relative; text-align: center; color: black; font-size: 30px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
#calendar{
    width: 65px; height: 21.35px; left: 52px; top: 104.73px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.categoryContainer{
    width: 100%; height: 8%; left: -1px; top: 165px; position: absolute; border-bottom: 1px #3F78EB solid;
}
.categoryDiv{
    width: 100%; height: 100%; left: -10px; top: 0px; position: absolute; background: white; 
}
.category1{
    left: 416px; top: 17px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.category2{
    left: 679px; top: 17px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.category3{
    left: 913px; top: 17px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.category4{
    left: 1137px; top: 17px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word;
}
.category5{
    left: 1348px; top: 17px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: SF Pro; font-weight: 400; word-wrap: break-word; 
}
.iconCantainer{
    height: 20px; top: 25px; position: absolute;
}
.leftContent{
    width: 22vw; height: 75vh; left: 0px; top: 23.7vh; position: absolute; background: #F1F1F1
}
.imgContainer{
    width: 100%; height: 20%; left: 0px; top: 0px; position: absolute;
}
#backImg{
    width: 100%; height: 100%; left: 0px; top: 0px; position: absolute;
}
.sideBar{
    width: 100%; height: 5%; left: 0px; top: 15.2vh; position: relative; border-bottom: 1px solid black; background: white;
}
.mapFilter{
    width: 91px; height: 13px;  
    top: 50%;
    left: 85%;
    transform: translate(-50%, -85%);
    position: absolute;
}
#distance{
    width: 40px; height: 12px; left: 0px; top: 0px; position: absolute; color: #666666; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
#review{
    width: 38px; height: 12px; left: 53px; top: 0px; position: absolute; color: #666666; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
#sidebarLine{
    width: 10px; height: 0px; left: 44px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1px #666666 solid;
}
.mapContent{
    width: 100%; height: 75%; left: 0px; top: 19vh; position: absolute
}
.mapGroup{
    width: 100%; height: 15vh; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px gray solid;
}
.Image{
    width: 4vw; height: 9vh; left: 30px; top: 30px; position: absolute;
}
.storeName{
    width: 14vw; left: 13vh; top: 3vh; position: absolute; color: black; font-size: 16px; font-family: Karantina; font-weight: 400; line-height: 35px; word-wrap: break-word;
}
.Km{
    width: 15vw; height: 2vh; left: 6.5vw; top: 6.5vh; position: absolute; color: black; font-size: 0.7em; font-family: Karantina; font-weight: 400; line-height: 15px; word-wrap: break-word;
}
.saveContainer{
    width: 1.3vw; height: 2.3vh; left: 6.7vw; top: 9.5vh; position: absolute;
}
.save{
    width: 100%; height: 100%; position: absolute;
}
.ment{
    width: 5vw; height: 1.5vh; 
    top: 7vh;
    left: 16vw; float: right;
    position: absolute; color: #767676; font-size: 12px; font-family: Karantina; font-weight: 400; line-height: 15px; word-wrap: break-word; text-align: left;
}
#mapContainer{
    width: 78vw; height: 79vh; 
    top: 63.5vh;
    left: 61.1vw;
    transform: translate(-50%, -50%);
    position: absolute;
}
#Map{
    width: 100%; height: 100%;  position: absolute;
}
/* 지도 페이지 stylesheet */

/* 맛집 페이지 stylesheet */
.filterBox{
    width: 40vw; height: 20vh; 
    top: 34vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: absolute; background: #F7F7F7;
}

.selected{
    width: 100px; height: 50px; left: 17px; top: 25px; position: relative; background: #57667E; border-radius: 40px;
}
.Select{
    width:5vw; height:5vh; left: 1vw; top: 1vh; position: absolute; background: #57667E; border-radius: 40px; align-items:center;
}
.area{
    position: absolute; color: #666666; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.Area{
    width: 5vw; height: 5vh; position: absolute; color: black; font-size: 1.4em; font-family: Inter; font-weight: 400; word-wrap: break-word;
}

.col1{left: 36px;}
.col2{left: 165px}
.col3{left: 289px}
.col4{left: 403px}
.col5{left: 502px}
.col6{left: 603px}
.col7{left: 713px}
.row1{top: 32px;}
.row2{top: 92px;}
.row3{top: 147px;}

.Row1{top: 5vh;}
.Row2{top: 12vh;}
.Row3{top: 18vh;}
.Row4{top: 24vh;}
.Col1{
    width: 109px; height: 26px; left: 15%; top: 88%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.Col2{
    width: 135px; height: 26px; left: 55%; top: 88%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.divLine{
    width: 1189px; height: 0px; left: 15vw; position: absolute; border: 0.50px #7D7D7D solid;
}
.divideLines{
    width: 45vw; height: 0px; left: 15%; position: absolute; border: 0.50px #7D7D7D solid;
    width: 45vw; height: 0px; left: 15%; position: absolute; border: 0.50px #7D7D7D solid;
}
.title{
    left: 15vw; top: 42vh; position: absolute; color: black; font-size: 3em; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.title45{
    left: 15vw; top: 416px; position: absolute; color: black; font-size: 2.8em; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.searchResult{
    left: 15vw; top: 509px; position: absolute;
}
.searchTotal{
    top: 50%; left: 7%; transform: translate(-50%, -50%); position: absolute;
}
.result{
    font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.filterOpt{
    width: 30%; height: 33px; left: 50%; top: 50%; position: absolute; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word; transform: translate(-50%, -50%); text-align: center;
}
.divideLine{
    width: 20px; height: 0px; top: 4vh; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1px #666666 solid
}
.DivideLine{
    width: 28vw; height: 0px; left: 3vw; top: 35vh; position: absolute; border: 1px black solid
}
.underLine{
    width: 50%; height: 0px; left: 25%; top: 95%; position: absolute; border: 1.5px black solid;
}
/* 맛집 페이지 */
.RestName { 
    left: 7vw; top: 0.5vh; position: absolute; text-align: center; color: black; font-size: 1.25em; font-family: Inter; font-weight: 400; word-wrap: break-word; text-align: left; 
}
.distanceContainer{
    width: 8vw; height: 1.5vh; left: 6.5vw; top: 3.5vh; position: absolute; text-align: center;
}
.RecContainer{
    width: 160px; height: 17px; left: 134px; top: 36px; position: absolute; text-align: center;
}
.wichi{
    color: #767676; font-size: 0.875em; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.distanceNum{
    color: black; font-size: 0.875em; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.contentContainer{
    width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: center; display: inline-flex;
}
.contentFrame{
    width: 50vw; height: 10vh; top: 70%; left: 15%; position: absolute;
}
.imageContainer{
    width: 6.5vw; height: 10vh;
}
.image{
    width: 100%; height: 100%;
}
.Recname{
    left: 140px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.Rec1{
    left: 153.67px; top: 30px; position: absolute; color: #666666; font-size: 12px; font-family: Inter; font-weight: 200; word-wrap: break-word;
}
.Rec2{
    left: 153.67px; top: 74px; position: absolute; color: #666666; font-size: 12px; font-family: Inter; font-weight: 300; word-wrap: break-word;
}
.Rec3{
    left: 153.67px; top: 52px; position: absolute; color: #666666; font-size: 12px; font-family: Inter; font-weight: 200; word-wrap: break-word;
}
.slogan{
    width: 100vw; height: 10vh; top: 33%; left: 50%; transform: translate(-50%, -50%); position: absolute; margin: 0;
    color: #57667E; font-size: 38px; font-family: Source Sans Pro; font-weight: 400; word-wrap: break-word; text-align: center; 
}
.Theme{
    width: 33vw; height: 59vh; top: 77vh; left: 72vw; transform: translate(-30%, -50%); position: absolute; background: #F1F1F1;
}
.areaFrame{
    width: 25vw; height:50vh; top: 1vh; left: 1vw;  position: absolute; 
}
.sortDiv{
    width: 40%; height: 100%; top: 50%; left: 82%; transform: translate(-50%, -50%); position: absolute;
}
.saveDiv{
    width: 66px; height: 32px; left: 40vw; top: 1vh; position: absolute; background: white; border-radius: 100px; border: 1px black solid;
}
.save-text{
    left: 40%; top: 20%; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.Heart{
    width: 16px; height: 16px; left: 10%; top: 20%; position: absolute;
}
.Badge{
    width: 22px; height: 21px; top: 10vh; left: 30vw; position: absolute;
}
.rec-text{
    top: 10vh; left: 31.5vw; color: black; font-size: 15px; font-family: Inter; font-weight: 500; word-wrap: break-word; position: absolute;
}
.result-text{
    width: 79px; height: 41px; left: 10vw; top: 1vh; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}
.contentDiv{
    margin: 0; width: 70vw; height: 55vh; position: absolute; top: 40vh; left: 0px;
}
.result-sort-bar{
    width: 45vw; height: 7vh; top: 13%; left: 11vw; position: absolute;
    width: 45vw; height: 7vh; top: 13%; left: 15%; position: absolute;
}
.articleDiv{
    width: 55vw; height: 25vh; left: 10vw; top: 15vh; position: absolute
}
.article-image{
    width: 9vw; height: 15vh; left: 1vw; top: 2vh; position: absolute
}
.article-title{
    width: 25vw; height: 5vh; left: 12vw; top: 2vh; position: absolute; color: black; font-size: 23px; font-family: Karantina; font-weight: 400; line-height: 35px; word-wrap: break-word
}
.article-date{
    width: 11vw; height: 2vh; left: 30px; top: 188px; position: absolute; color: black; font-size: 16px; font-family: Karantina; font-weight: 400; line-height: 35px; word-wrap: break-word
}
.article-text{
    width: 30vw; height: 20vh; left: 12vw; top: 10vh; position: absolute; color: black; font-size: 15px; font-family: Karantina; font-weight: 400; line-height: 35px; word-wrap: break-word
}
.sort-div{
    width: 25vw; height: 5vh; left: 60vw; top: 50.5vh;
    position: relative;
}
.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1324px;
    position: relative;
  }
  
  .screen .overlap {
    position: absolute;
    width: 1921px;
    height: 245px;
    top: -2px;
    left: -1px;
  }
  
  .screen .view {
    position: absolute;
    width: 1920px;
    height: 180px;
    top: 0;
    left: 0;
  }
  
  .screen .overlap-group {
    position: relative;
    height: 180px;
  }
  
  .screen .view-2 {
    position: absolute;
    width: 1920px;
    height: 177px;
    top: 3px;
    left: 0;
    background-color: #3f78eb;
  }
  
  .screen .overlap-group-wrapper {
    position: absolute;
    width: 355px;
    height: 114px;
    top: 33px;
    left: 261px;
  }
  
  .screen .overlap-group-2 {
    position: relative;
    width: 351px;
    height: 114px;
  }
  
  .screen .view-3 {
    position: absolute;
    width: 351px;
    height: 106px;
    top: 0;
    left: 0;
    background-color: #3c78eddb;
  }
  
  .screen .text-wrapper {
    position: absolute;
    width: 105px;
    top: 27px;
    left: 26px;
    font-family: "Hancom Ulju Bangudae Petroglyph-Regular", Helvetica;
    font-weight: 400;
    color: #ffffffdb;
    font-size: 58px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .p {
    position: absolute;
    width: 185px;
    top: 71px;
    left: 139px;
    font-family: "Hancom Ulju Bangudae Petroglyph-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .overlap-wrapper {
    position: absolute;
    width: 312px;
    height: 154px;
    top: 0;
    left: 1342px;
  }
  
  .screen .overlap-2 {
    position: relative;
    width: 316px;
    height: 154px;
  }
  
  .screen .div-wrapper {
    position: absolute;
    width: 126px;
    height: 132px;
    top: 11px;
    left: 0;
  }
  
  .screen .overlap-group-3 {
    position: relative;
    width: 122px;
    height: 132px;
  }
  
  .screen .person {
    position: absolute;
    width: 122px;
    height: 132px;
    top: 0;
    left: 0;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-2 {
    position: absolute;
    width: 50px;
    height: 21px;
    top: 93px;
    left: 35px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-4 {
    position: absolute;
    width: 121px;
    height: 107px;
    top: 23px;
    left: 87px;
  }
  
  .screen .overlap-3 {
    position: relative;
    width: 117px;
    height: 107px;
  }
  
  .screen .bus-fill {
    position: absolute;
    width: 117px;
    height: 107px;
    top: 0;
    left: 0;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-3 {
    position: absolute;
    width: 67px;
    height: 21px;
    top: 80px;
    left: 25px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-5 {
    position: absolute;
    width: 163px;
    height: 154px;
    top: 0;
    left: 153px;
  }
  
  .screen .overlap-4 {
    position: relative;
    width: 159px;
    height: 154px;
  }
  
  .screen .calendar {
    position: absolute;
    width: 159px;
    height: 154px;
    top: 0;
    left: 0;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-4 {
    position: absolute;
    width: 55px;
    height: 21px;
    top: 104px;
    left: 52px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-6 {
    position: absolute;
    width: 672px;
    height: 70px;
    top: 50px;
    left: 625px;
  }
  
  .screen .magnifyingglass-wrapper {
    position: relative;
    width: 670px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 60px;
    border: 2px solid;
    border-color: #3d79ee;
  }
  
  .screen .magnifyingglass {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 19px;
    left: 608px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #3d79ee;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .navbar {
    position: absolute;
    line-height: 76px;
    width: 1920px;
    height: 76px;
    top: 169px;
    left: 1px;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #3f78eb;
  }
  
  .screen .text-wrapper-5 {
    left: 678px;
    height: 26px;
    top: 13px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-6 {
    left: 912px;
    height: 26px;
    top: 13px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-7 {
    left: 415px;
    height: 26px;
    top: 13px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-8 {
    left: 1347px;
    height: 26px;
    top: 13px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .text-wrapper-9 {
    left: 1136px;
    height: 26px;
    top: 13px;
    font-family: "SF Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .screen .category-group {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px; 
  }
  .screen .category-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
  
  .screen .categoryimg {
    width: 32px;
  
    height: 36px;
  }
  
  
  .screen .overlap-5 {
    position: absolute;
    width: 1760px;
    height: 936px;
    top: 280px;
    left: 95px;
  }
  
  .screen .frame {
    display: inline-flex;
    flex-direction: column;
    height: 936px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 465px;
    box-shadow: 0px 1px 1px #0000001f;
  }
  
  .screen .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 10px 32px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #585757;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    background-color: #fafafa;
  }
  
  .screen .frame-4 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: #ffffff;
    border-radius: 8px 0px 0px 0px;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #969696;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .frame-5 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .frame-6 {
    display: flex;
    flex-direction: column;
    width: 187px;
    justify-content: space-around;
    gap: 10px;
    padding: 12px;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border-radius: 0px 8px 0px 0px;
    border: 1px solid;
    border-color: #e7e7e7;
    align-items: flex-start;
    position: relative;
  }
  
  .screen .frame-7 {
    display: inline-flex;
    height: 192.6px;
    align-items: flex-start;
    position: relative;
  }
  
  .screen .frame-8 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #969696;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 2px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .frame-10 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .frame-11 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .frame-12 {
    position: relative;
    width: 173px;
    flex: 0 0 auto;
    margin-right: -10px;
  }
  
  .screen .frame-13 {
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .tags {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 3px 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #0085ff1a;
    border-radius: 4px;
  }
  
  .screen .blue-tag {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #0084ff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .tags-2 {
    width: 355px;
    margin-right: -198px;
    position: relative;
    flex: 0 0 auto;
    background-color: #0085ff1a;
    border-radius: 4px;
  }
  
  .screen .tags-wrapper {
    display: flex;
    flex-direction: column;
    width: 173px;
    align-items: flex-start;
    gap: 6px;
    padding: 2px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -10px;
  }
  
  .screen .tags-3 {
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
    background-color: #0085ff1a;
    border-radius: 4px;
  }
  
  .screen .blue-tag-wrapper {
    display: flex;
    width: 171px;
    align-items: flex-start;
    gap: 10px;
    padding: 3px 4px;
    margin-right: -2px;
    position: relative;
    flex: 0 0 auto;
    background-color: #0085ff1a;
    border-radius: 4px;
  }
  
  .screen .frame-14 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #e7e7e7;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .frame-15 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 0px;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .frame-16 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-bottom: -14.4px;
    align-items: flex-start;
    position: relative;
  }
  
  .screen .frame-17 {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 8px;
    border: 1px solid;
    border-color: #e7e7e7;
  }
  
  .screen .group {
    position: absolute;
    width: 112px;
    height: 182px;
    top: 0;
    left: 0;
  }
  
  .screen .text-wrapper-14 {
    position: absolute;
    top: 0;
    left: 1px;
    font-family: "Montserrat", Helvetica;
    font-weight: 700;
    color: #212121;
    font-size: 26.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-15 {
    position: absolute;
    top: 37px;
    left: 1px;
    opacity: 0.6;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #212121;
    font-size: 9.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .rectangle {
    position: absolute;
    width: 393px;
    height: 702px;
    top: 61px;
    left: 0;
  }
  
  .screen .group-2 {
    position: absolute;
    width: 361px;
    height: 72px;
    top: 111px;
    left: 15px;
  }
  
  .screen .account-circle-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 3.12px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .screen .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .screen .schedule-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 3.12px;
    position: absolute;
    top: 32px;
    left: 0;
  }
  
  .screen .ellipse {
    left: 282px;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 103px;
    object-fit: cover;
  }
  
  .screen .ellipse-2 {
    left: 304px;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 103px;
    object-fit: cover;
  }
  
  .screen .ellipse-3 {
    left: 327px;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 103px;
    object-fit: cover;
  }
  
  .screen .ellipse-4 {
    left: 350px;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 103px;
    object-fit: cover;
  }
  
  .screen .text-wrapper-16 {
    position: absolute;
    top: 113px;
    left: 51px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-17 {
    position: absolute;
    top: 75px;
    left: 24px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-18 {
    position: absolute;
    top: 147px;
    left: 51px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-19 {
    position: absolute;
    top: 178px;
    left: 51px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-20 {
    position: absolute;
    top: 210px;
    left: 51px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .rectangle-2 {
    position: absolute;
    width: 142px;
    height: 48px;
    top: 694px;
    left: 229px;
    background-color: #d9d9d9;
    border-radius: 100px;
  }
  
  .screen .text-wrapper-21 {
    position: absolute;
    width: 263px;
    top: 708px;
    left: 240px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  